@import "tailwindcss";
body{
  margin:0;
  background: radial-gradient(800px 500px at 10% 10%, rgba(124,58,237,0.08), transparent 10%),
              radial-gradient(700px 400px at 90% 90%, rgba(255,92,161,0.04), transparent 10%),
              var(--bg);
  color:#e6eef8;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  line-height:1.5;
  overflow-y:scroll;
   background: #070b14;
}


.animate-float {
  animation: float infinite ease-in-out;
  /* color: rgb(132, 129, 129); */
}
.nav-item {
  position: relative;
}
.nav-item::after{
  content:'';
  position:absolute;
  bottom:-5px;
  left:0;
  width:0;
  height:2px;
  background-color:#3820f1;
  top:25px;
  transition: width 0.3s ease-in-out;
}
.nav-item:hover::after{
  width:100%;
  transition:width 0.3s ease-in-out;
}
.nav-item.active::after{
  width:100%;
  transition:width 0.3s ease-in-out;
}
.home-section{
 
  background: radial-gradient(circle at 30% 30%, rgba(0, 255, 200, 0.08), transparent 80%),#070b14;
  /* filter: blur(85px); */
  
}
.box{
  animation:rotate 30s linear infinite ;
 
}

@keyframes rotate {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
.css-img-box{
   
    
     /* box-shadow: 55px 55px 45px rgba(0, 255, 200, 0.25);  */
     animation: float 3s infinite linear;

  

}
@keyframes float {
  0% {
    transform: translateY(0px) translateX(0px);
  }

  25% {
    transform: translateY(-5px) translateX(0px);
  }

  50% {
    transform: translateY(-10px) translateX(0px);
  }

  75% {
    transform: translateY(-5px) translateX(0px);
  }

  100% {
    transform: translateY(0px) translateX(0px);
  }
}
.card{
  box-shadow: 0 0 10px #00ffc814;
}
.name{
  background:linear-gradient(
    90deg,
    #06b6d4,
    #8b5cf6,
    #ec4899,
    #06b6d4
  );
  background-size: 600% auto;
  color: transparent;
  background-clip:text;

  animation: shine 10s linear infinite;
}
@keyframes shine{
  from{
    background-position:0% center;
  }

  to{
    background-position:600% center;
  }
}

.icons{
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.icons:hover{
  transform: scale(1.1) rotate(15deg);
  box-shadow: 0 0 30px 8px rgb(8, 229, 229);
}
.words::after{
  content: '';
  height: 100%;
  width: 2px;
  margin-left:5px;
  position:absolute;
  background-color: rgb(0, 85, 255);
  animation: blink 1s linear infinite;
}
@keyframes blink {
  50%{
    background-color: transparent;
  }
}
.project-card{
  box-shadow: 0 0 20px rgb(0,255,255,.1);
  border: 1px solid rgb(48, 77, 89);
}
.hero-img{
  /* transition: all 0.5 linear; */
  animation: tran 1.1s ease-in;
}
@keyframes tran {
  from{
    opacity: 0;
    transform: translateX(-65px);
  }
  to{
    opacity: 1;
     transform: translateX(0px);
  }
}
.hero-photo{
  animation:scalling 1s ease-in-out;
}
@keyframes scalling {
  from{
      transform: scale(0.9);
  }
  to{
   transform: scale(1);
  }
}
.hero-info{
  /* transition: all 0.5 linear; */
  animation: heroinfo 1.1s ease-in;
}
@keyframes heroinfo {
  from{
    opacity: 0;
    transform: translateX(65px);
  }
  to{
    opacity: 1;
     transform: translateX(0px);
  }
}

.contact-title{
  background:linear-gradient(
    90deg,
    #07b5dc,
    #0fbee5,
    #0bd4b3,
    #06b6d4
  );
  background-clip: text;
  color: transparent;
   background-size: 600% auto;
   animation: shine 10s linear infinite;
   
  /* color:  linear-gradient(to right, rgb(38, 236, 229), blue); */
  
}
.contact-icons{
  box-shadow: 0 0 15px rgb(8, 201, 239);
  animation: float 3s linear infinite;
}
.contact-icons:nth-child(1){
  animation-delay:0s;
}

.contact-icons:nth-child(2){
  animation-delay:0.3s;
}

.contact-icons:nth-child(3){
  animation-delay:0.6s;
}

.contact-icons:nth-child(4){
  animation-delay:0.9s;
}

.contact-icons:nth-child(5){
  animation-delay:1.2s;
}

.contact-icons:nth-child(6){
  animation-delay:1.5s;
}
@keyframes float {

  0%{
    transform: translateY(6px);

    box-shadow:
      0 0 5px rgba(8, 201, 239, 0.7);
  }

  50%{
    transform: translateY(-6px);

    box-shadow:
      0 0 15px rgba(8, 201, 239, 0.9);
  }

  100%{
    transform: translateY(6px);

    box-shadow:
      0 0 5px rgba(8, 201, 239, 0.7);
  }

}
.about-section{
      width: 100%;
    max-width: 1100px;
    background: #ffffff0a;
    padding: 3rem 3.5rem;
    text-align: left;
    line-height: 1.8;
    border-radius: 18px;
    box-shadow: 0 0 25px #00ffc814;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.about-page{
  min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top, #0d0d0d, #000);
    color: #fff;
    padding: 3rem 1rem;
}